.gridContainer {
    display: grid;
    grid-gap: 5px 5px;
    grid-template-columns: repeat(3, 1fr);
    background-color: #d0eaff;
    padding: 1px;
}
.gridItemFalse {
    background-color: rgba(253, 146, 146, 0.8);
    border: 1px solid rgb(255, 196, 0);
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.gridItemTrue {
    background-color: rgba(148, 250, 144, 0.8);
    border: 1px solid rgba(0, 204, 255, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
table, th, td {
    border: 2px solid rgb(4, 60, 124);
    border-collapse: collapse;
    padding: 8px;
}
table.center {
    margin-left: auto; 
    margin-right: auto;
}
.customButton {
    background-color: #2f3c42;
    border: 1px solid rgba(71, 185, 166, 0.8);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-size: 1.5vw;
    margin: 4px 2px;
    cursor: pointer;
}
.topnav {
    background-color: rgb(39, 37, 37);
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f5d5b6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid #f5d5b6;
}
.topnav a:hover {
    background-color: rgb(255, 225, 169);
    color: black;
}
.topnav a.active {
    background-color: #6deaee;
    color: rgb(0, 16, 51);
}