<html>
    <head>
    <title>Updating!</title>
    </head>    
    <body style="text-align: center">
        <div class="topnav">
            <a href="/">Home</a>
            <a href="showAll">Show All</a>
            <a href="del">Delete</a>
            <a href="add">Add</a>
        </div>
        <h1>Update the fields</h1>
        <form action="/update/{{.Id}}" method="post">
            <p>Updating Title:<input type="text" name="Title" value={{.Title}}></p> 
            <p>Updating Body:<textarea name="Note" id="Note" cols="30" rows="10">{{.Note}}</textarea></p>
            <label for="State">Change State: </label>
            <select name="State" id="State" required>
                {{if .State}}
                <option value="True" selected>True</option>
                <option value="False">False</option>
                {{else }}
                <option value="True">True</option>
                <option value="False" selected>False</option>
                {{end}}
            </select> 
            <p><button type="submit">Update</button></p>
        </form>
            
        <p>ID: {{.Id}}</p>
        <p>Title: {{.Title}}</p>
        <p>Note {{.Note}}</p>
        <p>State {{.State}}</p>
        
    </body>
</html>