<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <title>Deleting</title>
    </head>    
    <h1>Click the item to delete from the list</h1>

    <body>
        <div class="gridContainer">
            {{range .TodoList}}
                {{if .State}}    
                <div class="gridItemTrue">
                {{else}}
                <div class="gridItemFalse">
                {{end}}
                <form action="/del" method="POST">
                    <button name="idbutton" value="{{.Id}}" type="submit" class="customButton"> 
                        <p>ID: {{.Id}}</p>
                        <p>Title: {{.Title}}</p>
                        <p>Note: {{.Note}}</p>
                        <p>Completed: {{.State}}</p>
                    </button>
                </form>
                </div>
            {{end}}

        </div>
    </body>
</html>