<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <title>Editing</title>
    </head>
    <body style="align-self: center">
        <h1>Add New item!</h1>

        <div class="gridItemTrue">
            <form action="/add" method="post">
                <p> Title:<input type="text" name="title" ></p>
                <p> Body: <textarea name="body" id="body" cols="30" rows="10"></textarea></p>
                <button type="submit">Add</button>
            </form>
    
        </div>

    </body>
</html>